/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap"); */

:root {
  --primary-white: white;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

.tsparticles-canvas-el {
  padding-top: 85px;
  position: absolute;
  z-index: 1;
}
