.aboutme {
  margin-top: 90px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.aboutme > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 80vh;
  color: white;
  background: rgba(0, 0, 0, 0.781);
  text-shadow: 0px 0px 10px black;
}

.info-text {
  width: 50%;
  font-size: calc(15px + (24 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.aboutme img {
  width: 20vw;
}

@media (max-width: 1211px) {
  .aboutme > div {
    flex-direction: column;
    justify-content: center;
  }
  .info-text {
    width: 80%;
  }
  h2 {
    font-size: 25px;
    margin-top: 2%;
  }
}

@media (max-width: 855px) {
  .aboutme > div {
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .aboutme > div {
    overflow: auto;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .aboutme img {
    width: 20vw;
    display: none;
  }
}

@media (max-width: 320px) {
  .aboutme > div {
    height: 100%;
    padding-top: 40%;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .aboutme img {
    display: none;
  }
}

@media (max-height: 520px) {
  .aboutme > div {
    height: 100%;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .aboutme img {
    display: none;
  }
}

@media (max-height: 280px) {
  .aboutme > div {
    height: 100%;
    padding-top: 30%;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .aboutme img {
    display: none;
  }
}
