.header-wraper {
  position: fixed;
  background: url(../../img/home-banner-WebDevelopment.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
