.contact {
  margin-top: 90px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
}

.contacts-info {
  padding-left: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-div {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0px 0px 10px black, 0 0 1em black;
}

.text-header {
  margin-bottom: 0px;
  margin-top: 3%;
  font-size: 110%;
}

.text-information {
  margin-bottom: 0px;
  font-size: 180%;
}

.icon {
  filter: drop-shadow(0 0 3px white);
  width: 100%;
  height: 100%;
  margin-right: 5%;
}

.img-div {
  width: 3vw;
  height: 7vh;
  margin-right: 5%;
}

.contacts-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2%;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-form {
  width: 80%;
  height: 7%;
  background: #00000093;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.input-form-message {
  width: 80%;
  height: 40%;
  background: #00000093;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  padding: 5%;
}

.button-form {
  background-color: #ef413500;
  margin-top: 5%;
  width: 30%;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 12px 12px 12px 12px;
  color: white;
  margin: 2rem;
}

.button-form:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

.label-form {
  margin: 2% 0% 2% 0%;
  text-shadow: 0px 0px 10px black, 0 0 1em black;
}

.title {
  font-size: xx-large;
}
