/*Navbar*/

nav {
  z-index: 2;
}

.logo {
  width: 130px;
}

.navbar-custom {
  background-color: black;
  transition: 0.3s;
}

.navbar-customLight {
  background-color: #8080803f;
  transition: 0.3s;
}

/*Menu Links*/

nav a.nav-link {
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: 0.3s;
}

nav ul li {
  text-transform: uppercase;
}

.nav-link {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
  transition: 0.3s;
}

.nav-linkLight {
  display: block;
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  letter-spacing: 0.6px;
  margin-right: 12px;
  margin-left: 12px;
  color: black !important;
  border-top: 3px solid #80808000;
  transition: 0.3s;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

.nav-link.active,
.nav-link.active:focus {
  border-top: 3px solid var(--primary-white);
}

.nav-link:hover {
  border-top: 3px solid var(--primary-white);
}

.nav-linkLight.active,
.nav-linkLight.active:focus {
  border-top: 3px solid black;
}

.nav-linkLight:hover {
  border-top: 3px solid black;
}

/*Menu Links*/

.liCheckbox > div {
  padding-left: 18px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkbox {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.label {
  margin-bottom: 0;
  background-color: rgb(27, 27, 27);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 16px;
  width: 33px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  height: 14px;
  width: 14px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(16px);
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100% !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
}
